* {
    font-family: 'Rubik', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
}

.nav-main {
    height: 100px;
    width: 100%;
    border-bottom: 0.5px solid rgb(224, 211, 211);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (min-width: 830px) {
    .nav-main a{
        display: flex;
        flex-direction: column;
        /* height: 15rem; */
    }
}

.nav-links{
    color: #999794;
    font-size: 15px;
    margin-left: 1.5rem;
    text-decoration: none;
    position: relative;
}

.nav-links:hover{
    color: #F08A00;
}

.nav-links:hover::after{
    content: '';
    height: .5rem;
    background-color: #F08A00;
    position: absolute;
    top: 3.5rem; left: 0%;
    width: 100%;
}

.nav-sneaker {
    font-size: 30px;
    font-weight: 800;
    font-style: none;
    text-decoration: none;
    color: #000;
}

main{
    margin-top: 5px;
    /* padding: 50px 1%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.carrito-main {
    background-color: #F08A00;
    padding: 10px 5px;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    width: 5rem;
    text-align: center;
}

.carrito-main:hover{
    cursor: pointer;
    background-color: #fab048;
}

.price-2 {
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
}

.quantity {
    background-color: rgb(206, 212, 209);
    border-radius: 4px;
    padding: 8px 0px;
    width: 4.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.numero{
    font-size: 13px;
}

.minus {
    /* padding-right: 5px; */
    padding-bottom: 2px;
    height: 5px;
    cursor: pointer;
}

.plus {
    /* padding-left: 5px; */
    height: 8px;
    cursor: pointer;
}

.carro{
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.avatar{
    background-color: #F08A00;
    border: 2px solid #F08A00;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

img{
    cursor: pointer;
    border-radius: 10px;
    max-width: 100%;
}

.products-grid{
    display: grid;
    gap: 1rem;
    margin-top: 4rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.carrito{ 
    height: 100%;
    width: 100%;
    text-align: center;
    overflow-y: scroll;
}

/* .carrito .container-img{
    padding: 0rem;
    display: grid;
} */

.carrito .articulos{
    margin-top: 1rem;
    /* display: grid; */
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    place-items: center;
}

.container-img{
    height: 50%;
    width: 100%;
    padding: .9rem;
    display: flex;
    justify-content: center;
}

/* .container-img > img{
    object-fit: cover;
} */

.articulos > strong{
    background-color: #F08A00;
    border-radius: 3px;
    padding: 0.4rem;
    color: #fff;
    cursor: pointer;
    /* width: 100%; */
    display: flex;
    text-align: center;
    justify-content: center;
}

.articulos > strong:hover{
    background-color: #fab048;
}

.articulos{
    overflow: hidden;
    border-radius: .3rem;
    padding: 0.5rem;
    /* width: 100%; */
    /* height: 100%; */
    border: 1px solid rgba(243, 167, 123, 0.425);
}

.articulos:hover{
    box-shadow: 0 12px 24px hsla(0, 0%, 10%, .5);
}

.articulos p{
    font-size: 1.75em;
}