.switch {
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;

    .fa-solid {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: #fff;
    }

    span {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    &.active {
        background: orange;
        color: #000;

        &::after {
            right: 0;
            left: unset;
        }
    }

}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 2);
}

body {
    transition: .3s ease all;
    box-shadow: 10px 10px 20px rgba(170, 170, 170, .16);

    &.dark {
        background: rgb(31, 30, 30);

        a,
        h1,
        h3,
        span,
        small,
        p {
            color: #fff;
        }

        .info {
            &:hover {
                box-shadow: 0 12px 24px rgba(139, 137, 137, 0.2);
            }
        }

        .articulos {
            &:hover {
                box-shadow: 0 12px 24px rgba(139, 137, 137, 0.2);
            }
        }

        .discount {
            color: rgb(95, 93, 93);
        }

        .numero {
            color: #000;
        }
        
        .cart {
            color: #000;            
        }
    }
}